html {
    font-family: Karla, sans-serif;
    font-size: 16px;
    background-color: #CDDDDD;
    color: #0C1B33;
}

body {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

p {
    align-self: center;
    text-align: justify;
    margin: 15px 0;
}

a {
    color: #0E7C7A;
    margin: 20px 0;
}

#first_img {
    width: 60vw;
    height: 50vh;
}

.rest_of_img {
    width: 100%;
    height: 50vh;
}

/*Property of the grid*/
.page-wrapper {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: min-content;
    margin: 3vh 14vw;
}

/*Disposition of the elements that are on the desktop version*/
.h1-container {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#start_of_article {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#rest_of_article {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.quote {
    font-size: 2rem;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    margin-bottom: 15px;
}

aside {
    writing-mode: vertical-lr;
    place-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/*Mobile version*/
@media screen and (max-width: 800px) {
    /*Changing boxes placement*/
    aside {
        display: none; /*Disabling the icons on the right*/
    }

    .h1-container {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #start_of_article {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #rest_of_article {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .quote {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    #first_img {
        width: 100%;
        height: 40vh;
    }

    .rest_of_img {
        width: 100%;
        height: 40vh;
    }
}